{# templates/partials/_footer.html.twig #}
<footer class="mt-5 py-4">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-3">
      <div class="col">
        <h5>À propos</h5>
        <p class="small">
          Marketplace pour cartes Yu-Gi-Oh! & Pokémon, inspirée de Cardmarket.
        </p>
      </div>
      <div class="col">
        <h5>Suivez-nous</h5>
        <ul class="list-unstyled d-flex gap-3">
          <li>
            <a href="#" class="text-decoration-none text-white">
              <i class="bi bi-facebook"></i> Facebook
            </a>
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white">
              <i class="bi bi-twitter"></i> Twitter
            </a>
          </li>
          <li>
            <a href="#" class="text-decoration-none text-white">
              <i class="bi bi-instagram"></i> Instagram
            </a>
          </li>
        </ul>
      </div>
      <div class="col">
        <h5>Mentions légales</h5>
        <p class="small text-muted">
          &copy; {{ "now"|date("Y") }} CardMarket-Like. Tous droits réservés.<br />
          <a href="#" class="text-muted">Conditions d’utilisation</a>
        </p>
      </div>
    </div>
  </div>
</footer>
