{% extends 'base.html.twig' %}
{% block title %}Vérifiez votre boîte mail{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Consultez votre email</h1>
    <p>Si un compte associé à cet email existe, un lien de réinitialisation vous a été envoyé.</p>
    {# Pour débogage :
    <p>{{ resetToken }}</p>
    #}
</div>
{% endblock %}
