{# templates/reset_password/email.html.twig #}
<p>Bonjour,</p>
<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>
<p>
    <a href="{{ url('app_reset_password', { token: resetToken.token }) }}">
        Réinitialiser mon mot de passe
    </a>
</p>
<p><a href="{{ url('app_reset_password', { token: resetToken.token }) }}">Réinitialiser mon mot de passe</a></p>
<p>Ce lien expirera le {{ resetToken.expiresAt|date('d/m/Y H:i') }}.</p>
<p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.</p>
