{# templates/reset_password/reset.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="mb-4">Définir un nouveau mot de passe</h1>
    {{ form_start(resetForm) }}
        <div class="form-group">
            {{ form_label(resetForm.plainPassword, 'Nouveau mot de passe') }}
            {{ form_widget(resetForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Réinitialiser mon mot de passe</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
