{% import 'macros/_article_macro.html.twig' as article_macro %}

{% block body %}
    {{ article_macro.displayArticle(article) }}

    {# <a href="{{ path('admin_article_index') }}">Retour à la liste</a> #}
{% endblock %}
